body {
  font-family: 'HelveticaRegular';
  font-size: 16px;
  color: #333333;
}

.title {
  font-size: 45px;
  line-height: 75px;
  font-family: 'HelveticaBold';
  text-align: center;
  position: relative;
  margin: 0;
  margin-bottom: 5px;
}

.title:after {
  content: '';
  width: 55px;
  height: 12px;
  background-image: url(../img/blue-strip.png);
  background-size: cover;
  position: absolute;
  background-repeat: no-repeat;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
}

.subtitle {
  text-align: center;
  font-size: 24px;
  margin: 0;
  margin-bottom: 80px;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  outline: 0;
}

a {
  text-decoration: none;
  color: #190b02;
}

*, *:before, *:after, html {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

h1, h2, h3 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 60px;
  padding-top: 60px;
}

.wrapper--header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  font-family: 'Roboto';
  padding-top: 33px;
  padding-bottom: 0;
}

.wrapper--main {
  padding-bottom: 210px;
  padding-top: 230px;
  height: 606px;
  background-size: cover;
  background-position: center;
  color: #fff;
  font-family: 'Roboto';
}

.wrapper--leaders {
  padding-top: 120px;
}

.wrapper--leaders_margin-top {
  margin-top: -80px;
  background: #fff;
}

.wrapper--directions {
  padding-bottom: 0;
}

.wrapper--footer {
  background: #215B60;
  padding: 50px 0 30px 0;
  color: #fff;
}

.wrapper--footer a {
  color: #fff;
}

.wrapper--how {
  position: relative;
}

.wrapper--question {
  background: #fff;
  padding: 100px 0 127px 0;
  margin-top: -60px;
}

.wrapper--step {
  background: #fff;
  padding: 120px 0 90px 0;
  margin-top: -60px;
}

.wrapper--popular {
  background: #61C1C9;
  padding: 70px 0 107px 0;
}

.wrapper--help {
  background: url("../img/help-bg.png");
  padding: 102px auto;
}

.ycont {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.ycont--header {
  flex-direction: row;
  justify-content: space-between;
}

.header-top {
  position: absolute;
  top: 0;
  transform: translateY(-25%);
  left: 0;
  right: 0;
  max-width: 100%;
}

.header-nav {
  margin: 0;
  display: flex;
  align-items: center;
}

.header-nav__item {
  margin-right: 28px;
}

.header-social {
  display: flex;
  align-items: center;
}

.header-social__item {
  margin-right: 12px;
  margin-left: 12px;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.header-contacts__phone {
  font-size: 22px;
  margin-bottom: 4px;
}

.header-contacts a span {
  font-weight: bold;
  font-size: 16px;
}

.header-strip {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  height: 85px;
  width: 820px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.main-subtitle {
  font-size: 37px;
  margin: 0;
  font-weight: 300;
}

.main-title {
  font-size: 120px;
  margin: 0;
  margin-bottom: 8px;
  line-height: 100px;
}

.footer {
  font-family: 'Roboto', sans-serif;
}

.footer--top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer--top__img {
  width: 58px;
  height: 58px;
}

.footer--nav {
  padding-top: 20px;
}

.footer--nav__item {
  margin-right: 25px;
}

.footer--right {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  line-height: 1.5em;
}

.footer--right__number_big {
  font-size: 1.5em;
}

.footer__hr {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
}

.footer--bottom {
  display: flex;
  justify-content: space-between;
  height: 180px;
  align-items: center;
}

.footer--bottom--left {
  width: 165px;
}

.footer--bottom--left__title {
  font-weight: bold;
  margin-bottom: 30px;
}

.footer--bottom--right {
  display: flex;
  flex-direction: column;
}

.footer--bottom--right__title {
  margin-bottom: 10px;
  font-weight: bold;
}

.footer--bottom--right__text {
  margin-bottom: 5px;
  text-decoration: underline;
}

.footer--middle {
  display: flex;
  justify-content: space-between;
}

.footer--form__input {
  width: 295px;
  height: 50px;
  border-radius: 10px;
  color: #000;
  padding: 5px 3px 0 25px;
  border: 0;
  margin-right: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.footer--form__button {
  width: 190px;
  height: 50px;
  font-weight: bold;
  background: #61C1C9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 10px;
  margin-right: 25px;
}

.footer--icons {
  padding-top: 20px;
}

.footer--icons i {
  color: #61C1C9;
  font-size: 18px;
}

.footer--icons a {
  margin-right: 45px;
}

.footer--icons a:nth-child(3) {
  margin-right: 0;
}

.leaders-block {
  display: flex;
  justify-content: space-between;
}

.leaders-item {
  width: 22%;
}

.leaders-item__title {
  font-family: 'HelveticaBold';
  line-height: 25px;
  margin-bottom: 12px;
}

.leaders-item__img {
  height: 64px;
  margin-bottom: 15px;
}

.leaders-item__img img {
  max-width: 100%;
}

.leaders-item__txt {
  line-height: 25px;
  margin: 0;
}

.hot-title {
  margin-bottom: 30px;
}

.hot-abs {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-35%);
}

.hot-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hot-item {
  width: 49%;
  margin-bottom: 18px;
  height: 229px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.comments-title {
  margin-bottom: 40px;
}

.comments-bg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  width: 35%;
}

.comments-abs {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-35%);
}

.comments-slider {
  width: 80%;
  flex-shrink: 0;
}

.comments-block {
  display: flex;
  justify-content: space-between;
}

.comments-desc__current {
  color: #61C1C9;
  font-family: 'HelveticaBold';
  font-size: 45px;
}

.comments-desc__title {
  font-family: 'HelveticaBold';
  line-height: 25px;
}

.comments-desc__txt {
  line-height: 25px;
  margin-bottom: 35px;
}

.comments-desc__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comments-desc__arrows {
  display: flex;
  font-size: 11px;
}

.comments-desc__arrow {
  width: 42px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comments-desc__prev {
  color: #61C1C9;
}

.comments-desc__next {
  background: url(../img/next-bg.png) center;
  background-repeat: no-repeat;
  color: #ffffff;
  justify-content: flex-start;
  padding-left: 18%;
}

.directions-title {
  text-align: left;
  line-height: 65px;
  margin-bottom: 50px;
}

.directions-title::after {
  width: 80px;
  height: 80px;
  background-size: unset;
  left: 0;
  z-index: -1;
  transform: translate(-50%, -12%);
  background-image: url(../img/directions-title.png);
}

.directions-abs {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15%;
}

.directions-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.directions-img {
  position: absolute;
  left: 4%;
  bottom: 0;
  z-index: 1;
  width: 28%;
  min-width: 450px;
}

.directions-wrap {
  padding-left: 35%;
}

.directions-block {
  display: flex;
  flex-wrap: wrap;
}

.directions-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  width: 25%;
  margin-bottom: 38px;
}

.directions-item.abs {
  position: absolute;
  display: block;
  margin-bottom: 0;
  width: auto;
}

.directions-cir_wrap {
  width: 100px;
  height: 100px;
  position: absolute;
  clip: rect(0px, 100px, 100px, 50px);
}

.directions-cir_wrap[data-anim~=wrapper] {
  -webkit-animation-duration: 0.01s;
  -webkit-animation-delay: 3s;
  -webkit-animation-name: close-wrapper;
}

.directions-cir_cir {
  width: 80px;
  height: 80px;
  border: 10px solid green;
  border-radius: 50px;
  position: absolute;
  clip: rect(0px, 50px, 100px, 0px);
}

.directions-cir_cir[data-anim~=left] {
  -webkit-animation-duration: 6s;
  -webkit-animation-name: left-spin;
}

.directions-cir_cir[data-anim~=right] {
  -webkit-animation-duration: 3s;
  -webkit-animation-name: right-spin;
}

div[data-anim~=base] {
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
}

@keyframes right-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes left-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes close-wrapper {
  to {
    clip: rect(auto, auto, auto, auto);
  }
}

.how__line {
  position: absolute;
  width: 100%;
  height: 0px;
  border-top: 1px dashed #61C1C9;
  border-bottom: 1px dashed #61C1C9;
  opacity: 0.2;
  top: 305px;
  left: 0;
}

.how--list {
  display: flex;
  justify-content: space-between;
}

.how--list__item {
  width: 25%;
}

.how--list__circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #61C1C9;
  box-shadow: 0px 0px 20px #61C1C9;
  font-family: 'HelveticaBold';
  font-size: 20px;
  padding: 30px 0 0 30px;
  color: #fff;
  margin-bottom: 18px;
}

.how--list__text {
  line-height: 25px;
}

.how--another {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
}

.how--another__text p {
  line-height: 30px;
  font-size: 20px;
  width: 508px;
  margin-bottom: 20px;
}

.how--another__img {
  width: 400px;
  background: #C4C4C4;
  padding: 135px;
  text-align: center;
}

.question--wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.question--left {
  padding-top: 20px;
}

.question--left__title {
  font-family: 'HelveticaBold';
  font-size: 16px;
  color: #61C1C9;
  margin-bottom: 15px;
}

.question--left__text {
  font-family: 'HelveticaBold';
  font-size: 25px;
  line-height: 45px;
  margin-bottom: 30px;
  color: #333333;
}

.question--form {
  padding: 70px 60px 80px 60px;
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 440px;
}

.question--form__title {
  font-family: 'HelveticaBold';
  font-size: 16px;
  color: #333333;
  margin-bottom: 22px;
}

.question--form__text {
  line-height: 25px;
  font-size: 16px;
  color: #333333;
  margin-bottom: 22px;
}

.question--form__input {
  padding: 10px 3px 15px 0;
  margin-bottom: 12px;
  font-size: 16px;
  border: 0;
  width: 100%;
}

.question--form__input--wrapper {
  position: relative;
}

.question--form__input--wrapper::after {
  position: absolute;
  top: 40px;
  left: 0;
  content: "";
  width: 320px;
  height: 3px;
  background: #61C1C9;
  box-shadow: 0px 0px 4px rgba(97, 193, 201, 0.5);
}

.question--form__button {
  margin-top: 40px;
  width: 240px;
  height: 64px;
  background: #61C1C9;
  border-radius: 10px;
  color: #fff;
  border: 0;
}

.cruise-strip {
  bottom: 60px;
  z-index: 10;
}

.step-title::after {
  background: 0;
}

.step-subtitle {
  margin-bottom: 50px;
}

.step__list {
  display: flex;
  justify-content: space-around;
}

.step__img--wrapper {
  height: 40px;
  margin-bottom: 20px;
}

.step__title {
  font-family: 'HelveticaBold';
  margin-bottom: 7px;
}

.popular__title {
  font-family: 'HelveticaBold';
  font-size: 45px;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.popular__subtitle {
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 35px;
}

.popular--list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 60px;
}

.popular--card {
  width: 30%;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  background: #fff;
  margin-bottom: 18px;
  padding-bottom: 25px;
  align-items: flex-start;
}

.popular--card__img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 30px;
}

.popular--card__title {
  font-size: 20px;
  margin-left: 26px;
  font-family: 'HelveticaBold';
  line-height: 25px;
  color: #333333;
  margin-bottom: 15px;
}

.popular--card__wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 26px;
  padding-right: 24px;
}

.popular--card__text--left {
  font-size: 14px;
  font-family: 'HelveticaBold';
  margin-bottom: 20px;
  padding-left: 30px;
}

.popular--card__price {
  margin: 0;
  font-size: 20px;
  font-family: 'HelveticaBold';
}

.popular--card__price_opacity {
  opacity: 0.2;
  font-size: 14px;
}

.popular--card__price_big {
  font-size: 22px;
}

.popular--card__place {
  margin-bottom: 18px;
  background: url("../img/ship.png") no-repeat left center;
}

.popular--card__deys {
  margin-bottom: 55px;
  background: url("../img/small-sun.png") no-repeat left center;
}

.popular--card__date {
  font-size: 14px;
  line-height: 25px;
  margin: 0;
  color: #000000;
  opacity: 0.5;
}

.popular--card__date-number {
  margin-bottom: 48px;
  font-family: 'HelveticaBold';
}

.popular--card__button {
  width: 146px;
  height: 45px;
  background: #4832D5;
  border-radius: 100px;
  color: #ffffff;
  font-size: 14px;
  font-family: 'HelveticaBold';
  border: 0;
}

.popular__input {
  width: 820px;
  height: 70.4px;
  border: 0;
  border-radius: 10px;
  margin: 0px auto;
  padding-left: 20px;
  font-size: 20px;
}

.help--wrapper {
  display: flex;
  justify-content: flex-start;
}

.help--form {
  width: 420px;
  height: 500px;
  padding: 61px 50px 0 48px;
  color: #ffffff;
  background: #61C1C9;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-right: 40px;
}

.help--form__title {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 23px;
  font-family: 'HelveticaBold';
}

.help--form__text {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 35px;
}

.help--form__input {
  width: 100%;
  padding-left: 30px;
  font-size: 25px;
  line-height: 40px;
  font-family: 'HelveticaBold';
  background: transparent url("../img/phone.svg") no-repeat 5px center;
  border: 0;
  color: white;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 50px;
}

.help--form__button {
  width: 265px;
  height: 64px;
  background: #ffffff;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'HelveticaBold';
  color: #333333;
  border: 0;
}

.help--list__item {
  padding-left: 55px;
  padding-top: 15px;
  margin-bottom: 100px;
}

.help--list__count {
  font-size: 55px;
  line-height: 40px;
  font-family: 'HelveticaBold';
  color: #61C1C9;
  margin: 0;
}

.help--list__text {
  font-size: 24px;
  line-height: 40px;
  color: #333333;
  margin: 0;
}

.help--list__item:nth-child(1) {
  background: url("../img/ship-blue.png") no-repeat left top;
}

.help--list__item:nth-child(2) {
  background: url("../img/compass-blue.png") no-repeat left top;
}

.help--list__item:nth-child(3) {
  background: url("../img/map-blue.png") no-repeat left top;
  margin: 0;
}
