.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 60px;
  padding-top: 60px;
  max-width: 1440px;
  margin: 0px auto;
}

@media (max-width: 710px) {
  .wrapper {
    padding-top: 40px;
  }
}

.wrapper--header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  font-family: 'Roboto';
  padding-top: 33px;
  padding-bottom: 0;
}

.wrapper--main {
  padding-bottom: 210px;
  padding-top: 230px;
  background-size: cover;
  background-position: center;
  color: #fff;
  font-family: 'Roboto';
}

@media (max-width: 710px) {
  .wrapper--main {
    padding: 120px 0 100px;
  }
}

.wrapper--leaders {
  padding-top: 120px;
}

@media (max-width: 710px) {
  .wrapper--leaders {
    padding-top: 80px;
  }
}

.wrapper--leaders_margin-top {
  margin-top: -80px;
  background: #fff;
}

@media (max-width: 1170px) {
  .wrapper--leaders_margin-top {
    padding-top: 40px;
  }
}

.wrapper--directions {
  padding-bottom: 0;
  padding-left: 550px;
  padding-top: 0;
}

@media (max-width: 1170px) {
  .wrapper--directions {
    padding: 0;
  }
}

.wrapper--footer {
  background: #215B60;
  padding: 50px 0 30px 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  height: auto;
}

.wrapper--footer a {
  color: #fff;
}

.wrapper--how {
  position: relative;
}

@media (max-width: 1170px) {
  .wrapper--how {
    padding-top: 20px;
  }
}

.wrapper--question {
  background: #fff;
  padding: 100px 0 127px 0;
  margin-top: -60px;
}

@media (max-width: 710px) {
  .wrapper--question {
    padding: 20px 0 30px;
  }
}

.wrapper--step {
  background: #fff;
  padding: 120px 0 90px 0;
  margin-top: -60px;
}

@media (max-width: 1170px) {
  .wrapper--step {
    padding: 40px 0 30px 0;
  }
}

.wrapper--popular {
  background: #61C1C9;
  padding: 70px 0 107px 0;
}

@media (max-width: 1170px) {
  .wrapper--popular {
    padding: 40px 0 30px 0;
  }
}

.wrapper--help {
  background: url("../img/help-bg.png");
  padding: 102px 0;
}

@media (max-width: 1170px) {
  .wrapper--help {
    padding: 30px 0;
    background: transparent;
  }
}

.wrapper--articles {
  padding: 165px 0 60px 0;
}
