.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 60px;
  padding-top: 60px;
}

.wrapper--header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  font-family: 'Roboto';
  padding-top: 33px;
  padding-bottom: 0;
}

.wrapper--main {
  padding-bottom: 210px;
  padding-top: 230px;
  height: 606px;
  background-size: cover;
  background-position: center;
  color: #fff;
  font-family: 'Roboto';
}

.wrapper--leaders {
  padding-top: 120px;
}

.wrapper--leaders_margin-top {
  margin-top: -80px;
  background: #fff;
}

.wrapper--directions {
  padding-bottom: 0;
}

.wrapper--footer {
  background: #215B60;
  padding: 50px 0 30px 0;
  color: #fff;
}

.wrapper--footer a {
  color: #fff;
}

.wrapper--how {
  position: relative;
}

.wrapper--question {
  background: #fff;
  padding: 100px 0 127px 0;
  margin-top: -60px;
}

.wrapper--step {
  background: #fff;
  padding: 120px 0 90px 0;
  margin-top: -60px;
}

.wrapper--popular {
  background: #61C1C9;
  padding: 70px 0 107px 0;
}
