@import "media";
.articles
    &__title
        color: #333333
        font-size: 45px
        margin: 0px 0 25px 0
        line-height: 45px
        font-family: 'Roboto', sans-serif
    &--filter
        display: flex
        align-items: center
        justify-content: start
        margin-bottom: 30px
        overflow-x: scroll
        &__all
            background: #61C1C9
            border-radius: 10px
            border: 0
            min-width: 105px
            height: 45px
            font-size: 16px
            font-family: 'HelveticaBold'
            margin-right: 30px
            color: #ffffff
            &:active
                background: #50a9b1
        &__filter
            font-size: 16px
            color: #333333
            opacity: 0.5
            margin-right: 45px
            @media (max-width: $media-pc)
                margin-right: 20px
    &--list
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        margin-bottom: 25px
        @media (max-width: $media-phone)
            margin-bottom: 0
        &__item
            width: 23%
            height: 368px
            padding-top: 200px
            background: url('../img/articles-item1.png')
            border-radius: 10px
            padding-left: 26px
            margin-bottom: 15px
            min-width: 250px
        &__date
            font-size: 14px
            color: #ffffff
            opacity: 0.2
            margin-bottom: 15px
            &_number
                font-family: 'HelveticaBold'
        &__text
            color: #ffffff
            font-size: 16px
            line-height: 20px
            font-family: 'HelveticaBold'
            margin-bottom: 21px
        &__button
            line-height: 25px
            background: #ffffff
            border-radius: 100px
            color: #333333
            font-size: 14px
            font-family: 'HelveticaBold'
            display: block
            padding: 10px 50px
            width: min-content
            &:active
                background: #e6d9d9
    &--under
        display: flex
        justify-content: space-between
        align-items: center
        @media (max-width: $media-phone)
            flex-direction: column
            justify-content: space-around
            height: 150px
    &--pages
        display: flex
        &__number
            font-family: 'HelveticaBold'
            padding: 10px
            margin: 0px 5px
            font-size: 16px
            color: #333333
            &:hover
                cursor: pointer
            @media (max-width: $media-phone)
                margin-bottom: 20px
            &_active
                background: #61C1C9
                color: #ffffff
                border-radius: 5px
            &_margin
                margin: 0px 10px
        &__number:nth-child(1)
            margin-left: 0
    &--right
        font-size: 16px
        font-family: 'HelveticaBold'
        &__back
            color: #000000
            opacity: 0.2
            margin-right: 60px
            @media (max-width: $media-phone)
                margin-right: 30px
        &__next
            padding: 19px 70px
            background: #61C1C9
            border-radius: 10px
            color: #ffffff
            &:active
                background: #50a9b1
